<form action="/add-new" method="post">
    <label for="name">Name: <input type="text" name="name"></label><br>
    <label for="name">CNIC: <input type="text" name="cnic"></label><br>
    <label for="name">Conctact: <input type="text" name="contact"></label><br>
    <label for="name">Image: <input type="text" name="img"></label><br>
    <br><br>
    <input type="submit">
</form>