<h1>Courses</h1>

<table style="text-align:center">
    <tr>
        <th>Name</th>
        <th>CNIC</th>
        <th>Contact</th>
        <th>Image</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.Name}}</td>
        <td>{{this.cnic}}</td>
        <td>{{this.contact}}</td>
        <td>{{this.img}}</td>
    </tr>
    {{/each}}
</table>